src/main/resources/xsd/qa.ui.suite.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://www.lain.cn/suite/config"
           targetNamespace="http://www.lain.cn/suite/config"
           xmlns="http://www.lain.cn/suite/config"
           elementFormDefault="qualified">
    <xs:include schemaLocation="qa.ui.suite.xsd"/>
    <xs:element name="autoTestUiSuite" type="tns:autoTestUiSuiteType">
        <xs:annotation>
            <xs:documentation><![CDATA[UI自动化流程配置根路径]]></xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="autoTestUiSuiteType">
        <xs:sequence>
            <xs:element name="uiConfig" type="tns:uiConfigType">
                <xs:annotation>
                    <xs:documentation><![CDATA[Ui自动化配置信息]]></xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="uiElements" type="tns:uiElementsType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation><![CDATA[Ui元素定义]]></xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="uiFlows" type="tns:uiFlowsType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation><![CDATA[Ui自动化流程信息]]></xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="uiFlowsType">
        <xs:sequence>
            <!--            <xs:element name="suiteName" type="xs:string">-->
            <!--                <xs:annotation>-->
            <!--                    <xs:documentation><![CDATA[suite名称]]></xs:documentation>-->
            <!--                </xs:annotation>-->
            <!--            </xs:element>-->
            <xs:element name="uiFlow" type="tns:uiFlowType" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation><![CDATA[ui自动化流程定义]]></xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="uiFlowType">
        <xs:sequence>
            <xs:element name="author" type="xs:string">
                <xs:annotation>
                    <xs:documentation><![CDATA[作者]]></xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="name" type="xs:string">
                <xs:annotation>
                    <xs:documentation><![CDATA[流程名称]]></xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="desc" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation><![CDATA[流程描述]]></xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="uiSteps" type="tns:uiStepsType">
                <xs:annotation>
                    <xs:documentation><![CDATA[流程步骤]]></xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="uiStepsType">
        <xs:sequence>
            <xs:element name="uiStep" type="tns:uiStepType" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation><![CDATA[流程步骤具体信息]]></xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="customFunction" type="tns:customFunctionType" maxOccurs="0" >
                <xs:annotation>
                    <xs:documentation><![CDATA[自定义函数]]></xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="customFunctionType">
        <xs:attribute name="refId" type="xs:string">
            <xs:annotation>
                <xs:documentation><![CDATA[引用元素]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="compareElement" type="xs:string">
            <xs:annotation>
                <xs:documentation><![CDATA[被引用来用于比较的元素]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="funcName" type="xs:string">
            <xs:annotation>
                <xs:documentation><![CDATA[被执行的函数名]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="customParams" type="xs:string">
            <xs:annotation>
                <xs:documentation><![CDATA[自定义参数列表,格式: type paramName,type paramName,...]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="uiStepType">
        <xs:attribute name="action" type="tns:actionTypeEnum" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[执行动作（custom时，则需要设置callBack函数）]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="url" type="xs:string">
            <xs:annotation>
                <xs:documentation><![CDATA[打开的网页Url]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="refId" type="xs:string">
            <xs:annotation>
                <xs:documentation><![CDATA[元素唯一Id标识]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="value" type="xs:string">
            <xs:annotation>
                <xs:documentation><![CDATA[填充到元素的值]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="expectValue" type="xs:string">
            <xs:annotation>
                <xs:documentation><![CDATA[期望值]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="customFunction" type="xs:string">
            <xs:annotation>
                <xs:documentation><![CDATA[自定义执行函数名称（格式：函数名称）]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="jsCode" type="xs:string">
            <xs:annotation>
                <xs:documentation><![CDATA[js执行代码]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="waitTime" type="xs:integer">
            <xs:annotation>
                <xs:documentation><![CDATA[等待时间(毫秒)]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="imilarity" type="xs:string">
            <xs:annotation>
                <xs:documentation><![CDATA[等待时间]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:simpleType name="actionTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="openPage"/>
            <xs:enumeration value="click"/>
            <xs:enumeration value="hover"/>
            <xs:enumeration value="fillValue"/>
            <xs:enumeration value="compareValue"/>
            <xs:enumeration value="keyBoardEnter"/>
            <xs:enumeration value="switchWindow"/>
            <xs:enumeration value="closeCurrentWindow"/>
            <xs:enumeration value="closeDriver"/>
            <xs:enumeration value="jsInvoker"/>
            <xs:enumeration value="custom"/>
            <xs:enumeration value="switchIframe"/>
            <xs:enumeration value="refresh"/>
            <xs:enumeration value="compareImg"/>
            <xs:enumeration value="screen"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="uiElementsType">
        <xs:sequence>
            <xs:element name="uiElement" type="tns:uiElementType" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation><![CDATA[Ui元素定义信息]]></xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="ref" type="xs:string">
            <xs:annotation>
                <xs:documentation><![CDATA[引用元素]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="uiElementType">
        <xs:attribute name="id" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[元素唯一Id标识]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="type" type="tns:fieldTypeEnum" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[元素对应的类型，必填。]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="comment" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[元素描述，必填。]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attributeGroup ref="tns:pageFieldLocatorGroup">
            <xs:annotation>
                <xs:documentation><![CDATA[元素定位方式]]></xs:documentation>
            </xs:annotation>
        </xs:attributeGroup>
    </xs:complexType>

    <xs:simpleType name="fieldTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="text"/>
            <xs:enumeration value="button"/>
            <xs:enumeration value="select"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:attributeGroup name="pageFieldLocatorGroup">
        <xs:attribute name="byId" type="xs:string">
            <xs:annotation>
                <xs:documentation><![CDATA[根据元素的ID定位，可选。]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="byCss" type="xs:string">
            <xs:annotation>
                <xs:documentation><![CDATA[根据元素的css样式（class值）定位，可选。]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="byName" type="xs:string">
            <xs:annotation>
                <xs:documentation><![CDATA[根据元素的名称定位，可选。]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="byXpath" type="xs:string">
            <xs:annotation>
                <xs:documentation><![CDATA[根据元素的xpath定位，可选。]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="byLinkText" type="xs:string">
            <xs:annotation>
                <xs:documentation><![CDATA[根据a标签的文本定位，可选。]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="byPartialLinkText" type="xs:string">
            <xs:annotation>
                <xs:documentation><![CDATA[根据a标签的部分文本定位，可选。]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="waitTime" type="xs:positiveInteger">
            <xs:annotation>
                <xs:documentation><![CDATA[元素操作后的等待时间，可选。]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>

    <xs:complexType name="uiConfigType">
        <xs:sequence>
            <xs:element name="engine" type="tns:engineType">
                <xs:annotation>
                    <xs:documentation><![CDATA[浏览器引擎配置]]></xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="actionBeforeWaitTime" type="tns:waitTimeType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation><![CDATA[事件执行前等待时间]]></xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="actionAfterWaitTime" type="tns:waitTimeType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation><![CDATA[事件执行后等待时间]]></xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="engineType">
        <xs:attribute name="isMobile" type="xs:boolean">
            <xs:annotation>
                <xs:documentation><![CDATA[是否为手机模式,true为开启]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="browser" type="tns:browserType" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[浏览器类型配置，默认值为chrome，必填。]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="remoteAddress" type="xs:anyURI">
            <xs:annotation>
                <xs:documentation><![CDATA[远程服务模式，例如http://192.168.1.2:4444/wd/hub。可选，不填即为本地模式]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="timeout" type="xs:positiveInteger">
            <xs:annotation>
                <xs:documentation><![CDATA[显示地设置元素查找超时事件，单位为毫秒，可选。]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="maximize" type="xs:boolean">
            <xs:annotation>
                <xs:documentation><![CDATA[浏览器窗口最大化，填写true的话浏览器启动后窗口会最大化，可选。]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="width" type="xs:positiveInteger">
            <xs:annotation>
                <xs:documentation><![CDATA[浏览器宽度，须为正整数，单位像素，可选。]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="height" type="xs:positiveInteger">
            <xs:annotation>
                <xs:documentation><![CDATA[浏览器高度，须为正整数，单位像素，可选。]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="waitTimeType">
        <xs:attribute name="time" type="xs:positiveInteger">
            <xs:annotation>
                <xs:documentation><![CDATA[等待时间]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:simpleType name="browserType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="chrome"/>
            <xs:enumeration value="firefox"/>
            <xs:enumeration value="ie"/>
            <xs:enumeration value="safari"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
